/* *{margin:0px;padding:0px;} */
.dock{
	position: absolute;
    bottom: 5px;
    left:50%;
    height: 100px;
    width: auto;
    /* transition: ease 0.2s; */
    background-color: rgba(255,255,255,0.4);
    line-height: 60px;
    border-radius: 14px;
    padding: 0px;
    border: 1px solid #666;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.dock .cover{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}
.dock .item{
    position: absolute;
    bottom:14px;
	list-style: none;
    float: left;
    height: 30px;
    width: 30px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: auto;
}
.dock .item .title{
    position: absolute;
    height: 24px;
    width: max-content;
    padding: 0px 10px;
    line-height: 24px;
    font-size: 12px;
    top: -40px;
    left: 50%;
    margin-left: -10px;
    background-color: rgba(255,255,255,0.4);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 5px;
    opacity: 0;
}
.dock .item .title::before{
    content: "";
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-top: 8px solid rgba(255,255,255,0.4);
    position: absolute;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    left: 50%;
    top: 100%;
    margin-left: -8px;
}

.dock .item:hover .title{
    opacity: 1;
}